* {
  background-color: rgb(30, 28, 28);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(50, 50, 50);
  padding: 10px;
  text-align: center;
}

footer {
  background-color: rgb(50, 50, 50);
  padding: 10px;
  text-align: center;
}

.inicio {
  padding: 20px;
  height: 80vh;
}
